@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.2);
}
.container .lift_side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgMain{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgMain img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: white;
    font-weight: 500;
}
.contactInfo.education h4{
    color: white;
    font-weight: 300;
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #081920;
    margin-top: 5px;
}
.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.contactInfo.language .percent .percentEng{
    width: 75%;
}
.contactInfo.language .percent .percentRus{
    width: 100%;
}


.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.titleAbout{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .yearCompany{
    min-width: 150px;
}
.about .box .yearCompany h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.about .box .projects ul{
    list-style-type: none;
}
.projects li{
    margin-bottom: 10px;
}
.projects li p{
    font-weight: 500;
}
.skills h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.skills .box .percent .percentHtml{
    width: 95%;
}
.skills .box .percent .percentCss{
    width: 90%;
}
.skills .box .percent .percentJs{
    width: 80%;
}
.skills .box .percent .percentReact{
    width: 65%;
}
.skills .box .percent .percentGit{
    width: 90%;
}
.interests ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interests ul li{
    list-style: none;
    color: #333;
    font-weight: 400;
    margin: 10px 0;
}
.interests ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1070px) {
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interests ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .yearCompany{
        margin-bottom: 5px;
    }
    .interests ul{
        grid-template-columns: repeat(1,1fr);
    }
}



